<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../graphics/styling/agenda.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Agenda</title>
  </head>
  <body>
      <div id="agenda-layout">
          <table>
            <thead>
              <th width="5%">Hora</th>
              <th width="12%">Segunda</th>
              <th width="12%">Terça</th>
              <th width="12%">Quarta</th>
              <th width="12%">Quinta</th>
              <th width="12%">Sexta</th>
              <th width="12%">Sábado</th>
              <th width="12%">Domingo</th>
            </thead>
            <tbody>
              <tr hour="7">
                <td>07:00</td>
                <td> <div class="appointment ap1">Corte Masculino</div> </td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino <img width="25px" src="graphics/images/haircutter.jpg" alt=""> </div></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="730">
                <td>07:30</td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
              </tr>
              <tr hour="8">
                <td>08:00</td>
                <td></td>
                <td><div class="appointment ap2">Corte Feminino</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="830">
                <td>08:30</td>
                <td></td>
                <td><div class="appointment ap2"> </div></td>
                <td></td>
                <td></td>
                <td><div class="appointment ap3">Coloração</div></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="9">
                <td>09:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="930">
                <td>09:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="10">
                <td>10:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="1030">
                <td>10:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="11">
                <td>11:00</td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td><div class="appointment ap4">Barba</div> <div class="appointment ap4">Barba</div></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="1130">
                <td>11:30</td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="12">
                <td>12:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="1230">
                <td>12:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="13">
                <td>13:00</td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
              </tr>
              <tr hour="1330">
                <td>13:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="14">
                <td>14:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="1430">
                <td>14:30</td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td><div class="appointment ap2">Corte Feminino</div></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="15">
                <td>15:00</td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
              </tr>
              <tr hour="1530">
                <td>15:30</td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td><div class="appointment ap2">Corte Feminino</div></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="16">
                <td>16:00</td>
                <td></td>
                <td><div class="appointment ap3">Coloração</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="1630">
                <td>16:30</td>
                <td></td>
                <td><div class="appointment ap3"></div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="17">
                <td>17:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="1730">
                <td>17:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="18">
                <td>18:00</td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
              </tr>
              <tr hour="1830">
                <td>18:30</td>
                <td></td>
                <td><div class="appointment ap2">Corte Feminino</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div class="appointment ap1">Corte Masculino</div></td>
                <td></td>
              </tr>
              <tr hour="19">
                <td>19:00</td>
                <td></td>
                <td><div class="appointment ap2"></div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="1930">
                <td>19:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="20">
                <td>20:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="2030">
                <td>20:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="21">
                <td>21:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="2130">
                <td>21:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="22">
                <td>22:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="2230">
                <td>22:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="23">
                <td>23:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="2330">
                <td>23:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr hour="00">
                <td>00:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>

        <script type="text/javascript">

            /*$( "tr" ).each(function() {
            var hora = $(this).attr('hour');
            if(hora == 1930)
            {
                $(this).find('td:nth-child(2)').html('Corte Masculino');
            }
          });*/

        </script>

  </body>
</html>
