<link rel="stylesheet" href="graphics/styling/input.css">

<form class="form-horizontal" id="services-form" method="post" action="controllers/add_resources.php"  role="form" enctype="multipart/form-data">
<div class="large-box">

<div class="tab-wrap">

		<div class="tab-options">
			<ul>
				<li class="tab-li-active" tab-toggle="1">Selecionar Cliente</li>
				<li tab-toggle="2">Marcação</li>
			</ul>
		</div>

		<div class="tab-list">
				<!-- TAB 1 -->
				<div class="tab tab-active" tab-index="1">
							<br>
					<div id="client-info" style="display:none">


					<div class="large-box">
						<img id="image_upload_preview" src="http://placehold.it/100x100" alt="your image" /> <br> <br>
					</div>

					<div class="medium-box">

						<div class="form-input-division">
							<label for="firstName" class="form-input-label">Nome</label>
							<label for="firstName" style="display:none" id="cid-code"></label>
							<label id="name" class="input-readonly">Carlos Emanuel Carvalho Gonçalves</label>
						</div>

						<div class="form-input-division">
							<label for="lastName" class="form-input-label">Data de Nascimento</label>
							<label id="data-date" class="input-readonly">09/04/1996</label>
						</div>

						<div class="form-input-division">
							<label for="ID Number" class="form-input-label">NIF</label>
								<label id="nif" class="input-readonly">8328691287</label>
						</div>

					</div>

					<div class="medium-box">
						<div class="form-input-division">
						  <label for="lastName" class="form-input-label">Morada</label>
							<label id="address" class="input-readonly">Rua das Freiras N. 18</label>
						</div>
						<div class="form-input-division">
							<label for="ID Number" class="form-input-label">Email</label>
								<label id="email" class="input-readonly">carlosecg31@hotmail.com</label>
						</div>
						<div class="form-input-division">
							<label for="ID Number" class="form-input-label">Contacto</label>
							<label id="phone" class="input-readonly">969616037</label>
						</div>
					</div>

				</div>
					<div id="search-for-client">
						<table class="table-layout">
							<thead>
								<tr>
									<th>-</th>
									<th>Nome</th>
									<th>Data de Nascimento</th>
									<th>Morada</th>
									<th>Email</th>
									<th>Contacto</th>
									<th>NIF</th>
									<th>Notificação</th>
									<th>-</th>
								</tr>
							</thead>
							<tbody id="data">

							</tbody>
						</table>


					</div>

			</div>
			<!-- TAB 1 - END -->
			<!-- TAB 2 -->
				<div class="tab" tab-index="2">


							<div class="large-box">

								<div class="small-medium-box">

									<div class="medium-large-box full-width">
											<label for="">Serviço Pretendido</label>
										<select id="service-list-choice" class="form-input" name="">
											<option value="" disabled selected> Escolha uma opção</option>
										</select>
									</div>
										<br>
									<div class="medium-large-box full-width">
											<label for="">Recurso Necessário</label>
										<select id="resource-list-choice" class="form-input" name="">
											<option value="" disabled selected> Escolha uma opção</option>
										</select>
									</div>

								</div>
							<div class="small-medium-box">
										<div class="medium-large-box">
												<label for="">Data da Marcação</label>
												<input type="text" id="date_chosen" class="datepicker form-input"/>
										</div>
										<br>
										<div class="medium-box">
												<label for="">Hora</label>
												<div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
													 <input type="text" class="form-control" id="time_begin"  value="09:30">
													 <span class="input-group-addon">
															 <span class="glyphicon glyphicon-time"></span>
													 </span>
												</div>
										</div>

								</div>

								<div class="small-box">
										<br>
										<input type="button" id="check_availability" class="button danger-btn" name="" value="Confirmar Vaga">
										<br>	<br>
										<input type="button" style="visibility:hidden;" id="insert_appointment" class="button check-btn" name="" value="Fazer Marcação">
								</div>

								<hr>

									<div class="large-box">
											<div class="medium-box">
												 <table class="table-layout">
													 <thead>
														 <tr>
															 <th>Responsável</th>
															 <th>Inicio</th>
															 <th>Fim</th>
													 	 </tr>
													 </thead>

													<tbody id="already-booked">

													</tbody>
												 </table>
											</div>
											<div class="medium-box">
												 <table class="table-layout">
													 <thead>
														 <tr>
															 <th>Vaga de</th>
															 <th>até</th>
															 <th></th>
													 	 </tr>
													 </thead>

													<tbody id="book-spots">

													</tbody>
												 </table>
											</div>
									</div>

						</div>

				 </div>
				 <!-- TAB 2 - END -->

		</div>

</div>

</div>
</form>

<script src="scripting/appointments/get_client_info.js"></script>
