/* AGENDA MAIN LAYOUT */
/*
body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}*/



#agenda-layout
{
  width: 100%;
  height: 100%;
    font-family: 'Arimo', sans-serif;
}

#agenda-layout table
{
    width: 100%;
    height: 100%;
    border-collapse: collapse !important;
}

#agenda-layout table td
{
    text-align: center !important;
}

#agenda-layout table th
{
    border: 1px solid #4f4f4f !important;
    padding: 5px 0 !important;
    background-color: #014248 !important;
    color: white !important;
    text-align: center !important;
}

#agenda-layout table td:first-child
{

    background-color: #5A8387;
    color: white;
    height: 24px;
    border: none;
}

#agenda-layout table tr
{
    height: 100%;
      border-left: 1px solid #4f4f4f;
}

#agenda-layout table td
{
    border-top: 1px solid #c9c9c9;
    border-left: 1px dotted #c9c9c9 !important;
}

#agenda-layout table tr:nth-child(even) td
{
    border-top: 1px dotted #c9c9c9;
    height: 100%;
}


#agenda-layout tr td:first-child
{
    text-align: center;
    border-top: 1px solid #c9c9c9;
}


.appointment
{
    width: 100%;
    border-radius: 3px;
    padding: 2px 0;
    min-height: 24px;
    margin: 1px 0;
    cursor: pointer;
}

.ap1
{
   background-color: #346d91;
   color: white;
}

.ap2
{
   background-color: #91346d;
   color: white;
}

.ap3
{
   background-color: #339682;
   color: white;
}

.ap4
{
   background-color: #f4426e;
   color: white;
}
