.tittle_section
{
	color: #224266;
}

.table-layout
{
	width: 100%;
	background-color: white;
	border-radius: 5px;
}

.table-layout tbody tr:hover
{
	cursor: pointer;
	background-color: #c9e0ef !important ;
}

.table-layout thead th:first-child
{
	border-top-left-radius: 5px;
}

.table-layout thead th:last-child
{
	border-top-right-radius: 5px;
}

.table-layout thead th
{
	text-align: center;
	background-color: #2f5659;
	padding: 10px 5px;
	color: white;

}

.table-layout tbody td
{
	padding: 15px 5px !important;
	text-align: center;
}

.table-layout tbody tr:nth-child(even)
{
	background-color: #f2fcff;
}

.selected
{
	background-color: rgb(1, 118, 161) !important;
}
