/*login form*/

.login {
	background-image: url(../images/background.jpeg);
	height: 100%;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: rgba(237, 237, 237, 0.7);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
	width: 117%;
	margin-top: 48%;
}

.form-login > h4 {
	color: #428bca;
}

.form-login > img {
    width: 40%;
    border-radius: 16px;
    margin-bottom: 5%;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#userName{
	text-align: center;
}

#userPassword{
	text-align: center;
}


h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.btn-primary  {
    background-color: #a84d4d !important;
    border-color: #914141 !important;
    width: 38%;
    padding: 4%;
    border-radius: 30px;
}

.btn-primary:hover {
	background-color: #702f2f !important;
	border-color: #702f2f !important;
}

/*navbar*/

/*  bhoechie tab */
div.bhoechie-tab-container{
	z-index: 10;
	    background-color: #ffffff;
	    padding: 0 !important;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
	    /* border: 1px solid #ddd; */
	    /* margin-top: 20px; */
	    /* margin-left: 50px; */
	    /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
	    /* box-shadow: 0 6px 12px rgba(0,0,0,.175); */
	    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    background-clip: padding-box;
	    opacity: 0.97;
	    filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.container {
	padding: 0px !important;
}